global:
  resolve_timeout: 5m

route:
  group_by: ["alertname", "service"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 2h
  receiver: default-null
  routes:
    - matchers:
        - severity = "critical"
      receiver: default-null

receivers:
  - name: default-null
