POLARIS_ENV=dev

POLARIS_DB_HOST=127.0.0.1
POLARIS_DB_PORT=5432
POLARIS_DB_NAME=polaris_mall
POLARIS_DB_USER=polaris
POLARIS_DB_PASSWORD=polaris_dev_password

POLARIS_REDIS_HOST=127.0.0.1
POLARIS_REDIS_PORT=6379

POLARIS_GATEWAY_PORT=8080

POLARIS_API_ORIGIN=http://127.0.0.1:9000
POLARIS_WEB_ORIGIN=http://127.0.0.1:5173
POLARIS_API_TOKEN_SECRET=dev-token-secret

